<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map Page</title>
    <script src="ApteraRu.js" type="text/javascript"></script>
    <script src="Rigla.js" type="text/javascript"></script>
    <script src="Sakura.js" type="text/javascript"></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=f2063206-fe46-4935-9921-9abf9987ebec&lang=ru_RU" type="text/javascript"></script>
    <script src="map.js" type="text/javascript"></script>
</head>
<body>
    <div id="map" style="width: 600px; height: 400px"></div>

</body>
</html>