.navigation {
    background-color: white;
    border-bottom: 3px solid #c64d43;
}
.nav-img {
    width: 30%;
    display: inline;
}
.login-out {
    float: right;
    margin-top: 55px;
    margin-right: 70px;
}

.btn-search  {
    float: left ;
    display: inline !important;
    font-weight: 400;
    margin-left: 6px !important;
    color: #212529;
    background-color: #e3f2fd;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 50%;
    border: 1px solid #87CEEB;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.btn-search:hover {
    color: #000000;
    background-color: rgba(168, 216, 255, .5);
    border-color: #87CEEB;
}
.btn-search:focus {
    box-shadow: 0 0 0 .2rem rgba(168, 216, 255, .5);
}

.search-container {
    vertical-align: center;
    margin: 30px;
    display: inline-block;
}
.form-control {
    display: inline;
    float: left;
    width: 547px;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

#map {
    width: 600px;
    height: 400px;
    position: fixed;
    right: 30px;
    border: 3px solid gray;
    border-radius: 5px;
}
.searching-form {
    margin: 20px;
    width: 700px !important;
    vertical-align: center;
    border: 3px solid #c64d43;
    border-radius: 10px;
}
.container {
    float: left !important;
}
.product-item {
    float: left !important;
    vertical-align: middle !important;
    height: auto !important;
    width: 700px !important;
}
.col-3 {
    text-align: center !important;
}
#img {
    width: 100px !important;
    height: 100px !important;
    text-align: center !important;
}
.topbutton {
    width:100px;
    border: 1px solid #87CEEB;
    background:#f7f7f7;
    text-align:center;
    padding:10px;
    position:fixed;
    bottom:50px;
    right:50px;
    cursor:pointer;
    color:#333;
    font-family:verdana;
    font-size:12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}
.topbutton:hover {
    color: #000000;
    background-color: rgba(168, 216, 255, .5);
    border-color: #87CEEB;
}
.topbutton:focus {
    box-shadow: 0 0 0 .2rem rgba(168, 216, 255, .5);
}
#btnGroupDrop1 {
    background-color: #e3f2fd;
    border-color: #87CEEB !important;
    margin-top: 6px;
    color: black;
}
#btnGroupDrop1:hover {
    color: black;
    background-color: rgba(168, 216, 255, .5);
    border-color: #87CEEB;
}
#btnGroupDrop1:focus {
    box-shadow: 0 0 0 .2rem rgba(168, 216, 255, .5);
}
#btnGroupDrop1:target {
    background-color: rgba(168, 216, 255, .5);
}